<%- include('head') %>
<body data-bs-theme="">
  <%- include('navbar') %>
  <main class="container">
    <div class="d-flex align-items-center" style="height: 180px;">
      <% if (typeof showImage !== 'undefined' && showImage) { %>
        <img src="/assets/images/avatarimage.png"  alt="Avatar" height="100" width="100" style="max-width: 100px;" class="me-3">
      <% } %>
      <div class="d-flex flex-column">
        <h1 class="text-secondary"><%- title %></h1>
        <% if (typeof description !== 'undefined' && description) { %>
          <p><%= description %></p>
        <% } %>
      </div>
    </div>
    <%- content %>
  </main>
  <%- include('footer.ejs') %>
